.form{
    margin: 5vh;
}

.btn{

     background-color: #3f51b5;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

.spacer{
    height: 10vh;
}