<br>
<h1 style="margin: 5vh;">Place appointment</h1>

<form >
    <div class="form-group form">
        <input type="text" name="name" class="form-control" placeholder="Name" required>
        &nbsp;
        <input type="number" name="age" class="form-control" placeholder="Age" required>
    </div>
    <div class="form-group form">
        <input type="email" name="email" class="form-control" placeholder="Email" required>
        &nbsp;
        <input type="number" name="phone" class="form-control" placeholder="Phone No." required>
    </div>

    <div class="form-group form">
        <input type="textarea" name="address1" class="form-control" placeholder="Address Line 1" required>
        &nbsp;
        <input type="textarea" name="address2" class="form-control" placeholder="Address Line 2" required>
    </div>

    <div class="form-group form">
        <input type="textarea" name="city" class="form-control" placeholder="City" required>
        &nbsp;
        <input type="textarea" name="state" class="form-control" placeholder="State" required>
    </div>

    <div class="form-group form">
        <input type="textarea" name="country" class="form-control" placeholder="Country" required>
        &nbsp;
        <input type="textarea" name="pincode" class="form-control" placeholder="Pin code" required>
    </div>

    <div class="form-group form">
        <label for="trainer">Trainer Preference</label> &nbsp;
        <input type="radio" name="malet" class="form-control"  value="Male" required> Male Trainer
        &nbsp;
        <input type="radio" name="femalet" class="form-control" value="Male" required> Female Trainer
        &nbsp;
        <input type="radio" name="femalet" class="form-control" value="Male" required> No Preference
    </div>

    <div class="form-group form">
        <label for="physiotherapist">Do you need Physiotherapist</label> &nbsp;
        <input type="radio" name="physiotherapist" class="form-control"  value="yesp" required> Yes
        &nbsp;
        <input type="radio" name="physiotherapist" class="form-control" value="nop" required> No
    </div>

    <div class="form-group form">
        <label for="Package">Select a Package</label> <br>
        <input type="radio" name="package" class="form-control"  value="1" required> One time appointment (Rs. 500/-)
        <br>
        <input type="radio" name="package" class="form-control" value="2" required> 4 sessions per week (Rs. 400/- per session)
        <br>
        <input type="radio" name="package" class="form-control" value="2" required> 5 sessions per week (Rs. 300/- per session)
    </div>

    <div class="form-group form">
        <input type="number" name="weeks" class="form-control" placeholder="Weeks" required>
        
    </div>

    <div class="form-group form">
        <input type="text" name="amt" class="form-control" placeholder="Ammount" required>
        &nbsp; &nbsp;

        <button class="btn btn-primary form" type="submit">Submit</button>
    </div>
    
</form>

<div class="spacer"></div>