<br />
<h1 style="margin: 5vh">Place appointment</h1>

<form [formGroup]="pappointForm">
  <div class="form-group form">
    <input
      type="text"
      name="name"
      class="form-control"
      placeholder="Name"
      required
      formControlName="name"
    />
    &nbsp;
    <input
      type="number"
      name="age"
      class="form-control"
      placeholder="Age"
      required
      formControlName="age"
    />
  </div>
  <div class="form-group form">
    <input
      type="email"
      name="email"
      class="form-control"
      placeholder="Email"
      required
      formControlName="email"
    />
    &nbsp;
    <input
      type="number"
      name="phone"
      class="form-control"
      placeholder="Phone No."
      required
      formControlName="phone"
    />
  </div>

  <div class="form-group form">
    <input
      type="textarea"
      name="address1"
      class="form-control"
      placeholder="Address Line 1"
      required
      formControlName="address1"
    />
    &nbsp;
    <input
      type="textarea"
      name="address2"
      class="form-control"
      placeholder="Address Line 2"
      required
      formControlName="address2"
    />
  </div>

  <div class="form-group form">
    <input
      type="textarea"
      name="city"
      class="form-control"
      placeholder="City"
      required
      formControlName="city"
    />
    &nbsp;
    <input
      type="textarea"
      name="state"
      class="form-control"
      placeholder="State"
      required
      formControlName="state"
    />
  </div>

  <div class="form-group form">
    <input
      type="textarea"
      name="country"
      class="form-control"
      placeholder="Country"
      required
      formControlName="country"
    />
    &nbsp;
    <input
      type="textarea"
      name="pincode"
      class="form-control"
      placeholder="Pin code"
      required
      formControlName="pincode"
    />
  </div>

  <div class="form-group form">
    <label for="trainer">Trainer Preference</label> &nbsp;
    <input
      type="radio"
      name="malet"
      class="form-control"
      value="Male"
      required
      formControlName="maleTrainer"
    />
    Male Trainer &nbsp;
    <input
      type="radio"
      name="femalet"
      class="form-control"
      value="Female"
      required
      formControlName="femaleTrainer"
    />
    Female Trainer &nbsp;
    <input
      type="radio"
      name="femalet"
      class="form-control"
      value="No Pref"
      required
      formControlName="noPreference"
    />
    No Preference
  </div>

  <div class="form-group form">
    <label for="physiotherapist">Do you need Physiotherapist</label> &nbsp;
    <input
      type="radio"
      name="physiotherapist"
      class="form-control"
      value="yesp"
      required
      formControlName="yesP"
    />
    Yes &nbsp;
    <input
      type="radio"
      name="physiotherapist"
      class="form-control"
      value="nop"
      required
      formControlName="noP"
    />
    No
  </div>

  <div class="form-group form">
    <label for="Package">Select a Package</label> <br />
    <input
      type="radio"
      name="package-1"
      class="form-control"
      value="One time appointment (Rs. 500/-)"
      (click)="firstPackage()"
      required
      formControlName="oneTimeAppointment"
    />
    One time appointment (Rs. 500/-)
    <br />
    <input
      type="radio"
      name="package-2"
      class="form-control"
      value="4 sessions per week (Rs. 400/- per session)"
      required
      (click)="secondPackage()"
      formControlName="Sessions4Appointment"
    />
    4 sessions per week (Rs. 400/- per session)
    <br />
    <input
      type="radio"
      name="package-3"
      class="form-control"
      value="5 sessions per week (Rs. 300/- per session)"
      required
      formControlName="Sessions5Appointment"
    />
    5 sessions per week (Rs. 300/- per session)
  </div>

  <div class="form-group form">
    <input
      type="number"
      name="weeks"
      class="form-control"
      placeholder="Weeks"
      required
      formControlName="weeks"
      (keyup)="secondPackage()"
    />
  </div>

  <div class="form-group form">
    <input
      type="text"
      name="amt"
      class="form-control"
      placeholder="Ammount"
      required
      formControlName="amount"
    />
    &nbsp; &nbsp;

    <button
      class="btn btn-primary form"
      type="submit"
      (click)="submitappointment()"
    >
      Submit
    </button>
  </div>
</form>

<div class="spacer"></div>
